---
---
<footer class="footer">
  <div class="section__container footer__container">
    <div class="footer__content">
      <h4>Suscríbete a nuestro boletín</h4>
      <p>Suscríbete para recibir las últimas noticias, actualizaciones y ofertas.</p>
    </div>

    <div class="footer__form">
      <form action="/">
        <input type="text" placeholder="Ingresa tu correo" />
        <button>Suscribirse</button>
      </form>
    </div>
  </div>

  <div class="section__container footer__bar">
    <div class="footer__logo">
      <h4><a href="#">E-Commerce</a></h4>
      <p>© 2025 E-Commerce. Todos los Derechos Reservados</p>
    </div>

    <ul class="footer__nav">
      <li class="footer__link"><a href="/">Sobre Nosotros</a></li>
      <li class="footer__link"><a href="/">Asociaciones</a></li>
      <li class="footer__link"><a href="/">Política de Privacidad</a></li>
    </ul>
  </div>
</footer>
